.button{
	position: absolute;
	width: 360px;
	height: 360px;
	top: 50%;
	left: 50%;
	margin: -180px 0 0 -180px;
	cursor: pointer;
}
.button .square{
	position: absolute;
	width: 360px;
	height: 360px;
	background-color: #347478;
	box-shadow: 0px 0px 25px 5px rgba(1, 1, 1, 0.4);
	transition-duration: 600ms;
	transition-property: transform;
	transition-timing-function: ease-in-out;
}
.button .square:nth-child(odd){
	background-color: #529186;
}
.button .square-1{
	transform: rotate(-30deg) scale(0.5);
	transition-delay: 40ms;
}
.button .square-2{
	transform: rotate(-15deg) scale(0.5);
	transition-delay: 80ms;
}
.button .square-3{
	transform: rotate(0deg) scale(0.5);
	transition-delay: 120ms;
}
.button .square-4{
	transform: rotate(15deg) scale(0.5);
	transition-delay: 160ms;
}
.button .square-5{
	transform: rotate(30deg) scale(0.5);
	transition-delay: 200ms;
}
.button .square-6{
	transform: rotate(45deg) scale(0.5);
	transition-delay: 240ms;
}
.button.active .square-1,
.button.clicked,
.button:hover .square-1{
	transform: rotate(15deg) scale(1);
}
.button.active .square-2,
.button:hover .square-2{
	transform: rotate(30deg) scale(1);
}
.button.active .square-3,
.button:hover .square-3{
	transform: rotate(45deg) scale(1);
}
.button.active .square-4,
.button:hover .square-4{
	transform: rotate(60deg) scale(1);
}
.button.active .square-5,
.button:hover .square-5{
	transform: rotate(75deg) scale(1);
}
.button.active .square-6,
.button:hover .square-6{
	transform: rotate(90deg) scale(1);
}
.button .circle{
	position: absolute;
	width: 360px;
	height: 360px;
	background-color: #f2dbb7;
	border-radius: 50%;
	box-shadow: 0px 0px 25px 5px rgba(1, 1, 1, 0.4);
	transition: all 500ms;
}
.button .circle h1{
	font-family: "Oleo Script";
	text-align: center;
	font-weight: normal;
	color: #21626f;
	font-size: 60px;
	padding: 0;
	margin: 120px 0 0 0;
}