@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #61E786;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: "Oleo Script";
    float: left;
    color: #347478;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #48BF84;
    color: #ddd;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #48BF84;
    color: white;
}