{% extends "base.html" %}
{% block content %}
{% csrf_token %}
{% if member.should_be_contacted %}
<div class="button active" onclick="im_ok(this, {{ member.id }})">
    <div class="square square-1"></div>
    <div class="square square-2"></div>
    <div class="square square-3"></div>
    <div class="square square-4"></div>
    <div class="square square-5"></div>
    <div class="square square-6"></div>
    <div class="circle">
        <h1>Click me...</h1>
    </div>
</div>
{% else %}
<div class="button">
    <div class="square square-1"></div>
    <div class="square square-2"></div>
    <div class="square square-3"></div>
    <div class="square square-4"></div>
    <div class="square square-5"></div>
    <div class="square square-6"></div>
    <div class="circle">
        <h1>All good :)</h1>
    </div>
</div>
{% endif %}
{% endblock %}
